{{ $name := .Release.Name }}
{{ $namespace := .Release.Namespace }}
{{- with .Values.frontend }}
{{- with .deployments }}
{{- range $i, $v := . }}
apiVersion: composition.krateo.io/v2-0-2
kind: GithubScaffolding
metadata:
  name: {{ $v.name }}
spec:
  argocd:
    namespace: {{ $namespace }}
    application:
      syncEnabled: true
      destination:
        namespace: {{ $namespace }}
  app:
    replicas: {{ $v.replicas }}
    service:
      type: LoadBalancer
      port: {{ $v.port }}
  git:
  - unsupportedCapabilities: true
    insecure: true
    fromRepo:
      scmUrl: https://github.com
      org: krateoplatformops-blueprints
      name: github-scaffolding
      branch: main
      path: /skeleton-frontend
      credentials:
        authMethod: generic
        secretRef:
          namespace: {{ $namespace }}
          name: github-repo-creds
          key: token
    toRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $v.name }}
      branch: main
      path: /
      credentials:
        authMethod: generic
        secretRef:
          namespace: {{ $namespace }}
          name: github-repo-creds
          key: token
      configurationRef:
        name: repo-config
        namespace: {{ $namespace }}
  {{- range $j, $d := $v.features }}
  - unsupportedCapabilities: true
    insecure: true
    fromRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $d }}-feature
      branch: main
      path: /
      credentials:
        authMethod: generic
        secretRef:
          namespace: {{ $namespace }}
          name: github-repo-creds
          key: token
    toRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $v.name }}
      branch: main
      path: /app/features
      credentials:
        authMethod: generic
        secretRef:
          namespace: {{ $namespace }}
          name: github-repo-creds
          key: token
      configurationRef:
        name: repo-config
        namespace: {{ $namespace }}
    {{- end }}
---
{{- end }}
{{- end }}
{{- end }}