{{ $name := .Release.Name }}
{{ $namespace := .Release.Namespace }}
{{- with .Values.frontend }}
{{- with .deployments }}
{{- range $i, $v := . }}
apiVersion: composition.krateo.io/v2-0-0
kind: GithubScaffolding
metadata:
  name: {{ $name }}
spec:
  argocd:
    namespace: {{ $namespace }}
    application:
      destination:
        namespace: {{ $namespace }}
  app:
    service:
      type: LoadBalancer
      port: {{ $v.port }}
  git:
  - unsupportedCapabilities: true
    insecure: true
    fromRepo:
      scmUrl: https://github.com
      org: krateoplatformops-blueprints
      name: github-scaffolding
      branch: main
      path: /skeleton-frontend
    toRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $name }}
      branch: main
      path: /
      configurationRef:
        name: {{ $name }}
        namespace: {{ $namespace }}
  {{- range $j, $d := $v.features }}
  - unsupportedCapabilities: true
    insecure: true
    fromRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $d + "-feature" }}
      branch: main
      path: /
    toRepo:
      scmUrl: https://github.com
      org: krateoplatformops-test
      name: {{ $name }}
      branch: main
      path: /features
      configurationRef:
        name: {{ $name }}
        namespace: {{ $namespace }}
    {{- end }}
---
{{- end }}
{{- end }}
{{- end }}